
body {
    display: flex;
   flex-direction: column;
    align-content: center;
    margin:0px;
    height:100vh;
    background-color: rgb(25, 25, 54);
}


.container {
    display: flex;
    flex-grow: 1;
    padding: 5em;
}

.left-column {
    flex-grow: 1;
    background-color: rgb(25, 25, 54);
}

.right-column {
    flex-grow: 2;
    /* background-color: rgb(25, 25, 54); */
}

.center-column {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

}

.top-row {
    flex-grow: 1;
}

.bottom-row {
    flex-grow: 2;
}

.content-container {
    flex-grow: 6;
    display: flex;
    flex-direction: column;
}


.members-container {
    flex-grow: 2;
    display: flex;
   justify-content: space-evenly;
    background-color: rgb(243, 99, 99);
    color: white;
}

.text-container {
    flex-grow: 5;
    display: flex;
    justify-content: space-around;
}


.images {
    display: flex;
    
}

.person {
    border: 0.2em solid white;
    border-radius: 50px;
    overflow: hidden;
}

.person-2 {
    border: 0.2em solid white;
    border-radius: 50px;
    overflow: hidden;
    margin-left: -10px;
    margin-right: -10px;
}

.names {
    display: flex;
    flex-direction: column;
   justify-content: center ;
}


.chat {
    width:50em;
    height:10em;
background-color: gray;
align-self: center;
}



.input {
    display: flex;
    padding: 0.2em;
    flex-grow: 4;
    background-color: grey;
    border:0.5px solid rgb(243, 99, 99);
    border-radius: 20px;
}

#input {
    height: 90%;
    width: 90%;
 }